<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" type="text/css" href="Home.css">
        <style src="Home.css">
        </style>
    </head>
    <body>
    <div id="body">
       <div id="playerstat">
            <div id="healthpoints">     
            </div>
            <div id="barcontainer">
                <div id="healthbar" style="height:24px;"></div>  
            </div>
            <div id="inventoryheader">
                inventory
            </div>
            <ul>
                <li id="inventory" v-for="item in playerinventory">
                {{playerinventory.itemname}}
                </li>
            </ul>
       </div>
       <div id="maintext">
         <div id="currentlocationname" >
            <p> {{currentlocation.locationsname}} </p>
         </div>
     
       
        <div id="locationtext">
            {{currentlocation.locationtext}}
        </div>
         <div id="methods">
         <ul>
             <li id="methodlist" v-for="method in locationmethods" v-on:click="getlocationbymethodid(method.nextlocationid)">
                {{method.methods }} 
             </li>
         </ul>
            </div>
        </div>
       </div>
    </div>
</div>
    <script src="Home.js"></script>
</body>

    
</html>
